.node-job.node-teaser .link-wrapper {
  width: 66.16667%;
  float: right;
  margin-right: 0;
  *margin-left: -1.5%;
  display: inline;
  margin-bottom: 10px;
}
.node-job.node-teaser .link-wrapper {
  clear: both;
}
.node-job.node-teaser .link-wrapper ul {
  margin: 0;
  float: left;
}
.node-job.node-teaser .link-wrapper ul > li {
  float: left;
}
ul li.flag-job_bookmarks,
ul li.flag-resume_bookmarks {
  list-style: outside none disc;
  margin-left: 1.5em;
  padding: inherit;
}
.flag-resume-bookmarks .flag.flag-action, .flag-job-bookmarks .flag.flag-action {
  background-position: none;
}
.cloudy-sprite, .flag-resume-bookmarks .flag.flag-action, .flag-job-bookmarks .flag.flag-action, .flag-resume-bookmarks .flag.unflag-action, .flag-job-bookmarks .flag.unflag-action, .flag-resume-bookmarks .flag:hover, .flag-resume-bookmarks .flag:focus, .flag-resume-bookmarks .flag:active, .flag-job-bookmarks .flag:hover, .flag-job-bookmarks .flag:focus, .flag-job-bookmarks .flag:active {
  background: none;
}
.flag-resume-bookmarks .flag, .flag-job-bookmarks .flag {
  height: auto;
}
.flag-resume-bookmarks .flag, .flag-job-bookmarks .flag {
  line-height: normal;
  padding-left: 0;
}
.node-job.node-teaser .node-readmore {
  clip: auto;
  position: unset !important;
}
.node-job.node-teaser .date > span {
  padding-left: 7px;
}
td.views-field-field-company-logo {
  text-align: right;
  padding-right: 0;
}
td.views-field-field-company-logo > img {
  vertical-align: middle;
}
.topbar-wrapper {
  border-bottom: 5px solid #2e2e2c;
}
.page-recruiter h1.title.anon-title {
  display: block;
}
.block-user-menu.block--menu {
  top: 5em;
}
.node-job.node-teaser .link-wrapper {
  font-size: 0.8em;
}

ul.node__links li {
  list-style: none;
}
.node-teaser ul.rules-links li {
  list-style: none;
}
ul.node__links li:first-child {
  margin-left: 0;
}
@media all and (min-width: 800px) {
  .l-region--navigation-container {
    border-bottom: 0;
  }
  .node-job.node-teaser .company-logo {
    width: 15.41667%;
    float: right;
    margin-right: 0;
    *margin-left: -1.5%;
    display: inline;
    clear: none;
  }
  .node-job.node-teaser .link-wrapper {
    width: 100%;
    margin-right: 0;
    *margin-left: 0;
    display: block;
    clear: both;
    float: left;
    margin-left: 16.9167%;
  }
}

#block-menu-menu-social-links {
    float: right;
    width: 150px;
}

#block-menu-menu-social-links h2 {
    margin-top: 0;
    margin-bottom: 2px;
    padding-bottom: 2px;
}

#block-menu-menu-social-links ul.menu li {
    float: left;
}
#block-menu-menu-social-links ul.menu li a {
    color: transparent;
    display: block;
    font-size: 0;
    line-height: 0;
    height: 32px;
    width: 32px;
    padding-left: 0;
    padding-right: 4px;
}

tr.even, .view-job-search .views-row-odd {
    background-color: white !important;
}

.view-front-page-job-search table tr, .view-job-search .views-row {
    border-bottom: 3px solid #efefef;
}

.view-front-page-job-search table tr:last-child, .view-job-search .views-row:last-child {
    border: none;
}