.node-job.node-teaser .link-wrapper {
    width: 66.16667%;
    float: right;
    margin-right: 0;
    *margin-left: -1.5%;
    display: inline;
    margin-bottom: 10px;
}
.node-job.node-teaser .link-wrapper {
    clear: both;
}
.node-job.node-teaser .link-wrapper ul {
    margin: 0;
    float: left;
}
.node-job.node-teaser .link-wrapper ul > li {
    float: left;
}
ul li.flag-job_bookmarks,
ul li.flag-resume_bookmarks {
    list-style: outside none disc;
    margin-left: 1.5em;
    padding: inherit;
}
.flag-resume-bookmarks .flag.flag-action, .flag-job-bookmarks .flag.flag-action {
    background-position: none;
}
.cloudy-sprite, .flag-resume-bookmarks .flag.flag-action, .flag-job-bookmarks .flag.flag-action, .flag-resume-bookmarks .flag.unflag-action, .flag-job-bookmarks .flag.unflag-action, .flag-resume-bookmarks .flag:hover, .flag-resume-bookmarks .flag:focus, .flag-resume-bookmarks .flag:active, .flag-job-bookmarks .flag:hover, .flag-job-bookmarks .flag:focus, .flag-job-bookmarks .flag:active {
    background: none;
}
.flag-resume-bookmarks .flag, .flag-job-bookmarks .flag {
    height: auto;
}
.flag-resume-bookmarks .flag, .flag-job-bookmarks .flag {
    line-height: normal;
    padding-left: 0;
}
.node-job.node-teaser .node-readmore {
    clip: auto;
    position: unset !important;
}
.node-job.node-teaser .date > span {
    padding-left: 7px;
}
td.views-field-field-company-logo {
    text-align: right;
    padding-right: 0;
}
td.views-field-field-company-logo > img {
    vertical-align: middle;
}
.topbar-wrapper {
    border-top: 5px solid #2e2e2c;
}
.page-recruiter h1.title.anon-title {
    display: block;
}
.block-user-menu.block--menu {
    top: 5em;
}
.node-job.node-teaser .link-wrapper {
    font-size: 0.8em;
}

ul.node__links li {
    list-style: none;
}
.node-teaser ul.rules-links li {
    list-style: none;
}
ul.node__links li:first-child {
    margin-left: 0;
}
@media all and (min-width: 800px) {
  .l-region--navigation-container {
    border-bottom: 0;
  }
  .node-job.node-teaser .company-logo {
    width: 15.41667%;
    float: right;
    margin-right: 0;
    *margin-left: -1.5%;
    display: inline;
    clear: none;
  }
  .node-job.node-teaser .link-wrapper {
    width: 100%;
    margin-right: 0;
    *margin-left: 0;
    display: block;
    clear: both;
    float: left;
    margin-left: 16.9167%;
  }
  .contact-form-right {
    width: 74.625%;
    float: left;
  }
  .contact-form-left {
    width: 25.375%;
    float: left;
  }
}

#block-menu-menu-social-links {
    float: right;
    width: 150px;
}

#block-menu-menu-social-links h2 {
    margin-top: 0;
    margin-bottom: 2px;
    padding-bottom: 2px;
}

#block-menu-menu-social-links ul.menu li {
    float: left;
}
#block-menu-menu-social-links ul.menu li a {
    color: transparent;
    display: block;
    font-size: 0;
    line-height: 0;
    height: 32px;
    width: 32px;
    padding-left: 0;
    padding-right: 4px;
}

tr.even, .view-job-search .views-row-odd {
    background-color: white !important;
}

.view-front-page-job-search table tr, .view-job-search .views-row {
    border-bottom: 3px solid #efefef;
}

.view-front-page-job-search table tr:last-child, .view-job-search .views-row:last-child {
    border: none;
}

.node--job-per-template ul.links--inline li {
    display: inline;
}

body.node-type-job-per-template .node--job-per-template--full .field--name-body .field__label {
    float: left !important;
    margin-top: 8px !important;
    margin-right: 8px !important;
}
.node--job-per-template--full .field--name-body .field__items {
    width: 90%;
}

/* line 89, ../sass/cloudy/styles/_navigation.scss */
.block-main-menu > ul.menu > li.nav-right {
    margin-top: 0.25em;
    font-size: 0.82em;
    float: right;
}
/* line 94, ../sass/cloudy/styles/_navigation.scss */
.block-main-menu > ul.menu > li.nav-right a {
    color: white;
    background-color: #2e2e2c;
    border: 1px solid #1a1a1a;
    padding: 1em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
    padding: .5em 1em;
    cursor: pointer;
    padding: .35em .5em;
}

/* line 14, ../layouts/epiqo/sass/omega/utility/_buttons.scss */
.block-main-menu > ul.menu > li.nav-right a:hover, .block-main-menu > ul.menu > li.nav-right a:focus, .block-main-menu > ul.menu > li.nav-right a:active {
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: #373730;
    border-color: #070707;
    text-decoration: none;
}
/* line 21, ../layouts/epiqo/sass/omega/utility/_buttons.scss */
.block-main-menu > ul.menu > li.nav-right a:active {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* line 98, ../sass/cloudy/styles/_navigation.scss */
.block-main-menu > ul.menu > li.nav-right a:hover, .block-main-menu > ul.menu > li.nav-right a:focus, .block-main-menu > ul.menu > li.nav-right a:active {
    background-color: #c9dd19;
    color: #2e2e2c;
}

.page-profile-resume .tabs {
  display: none;
}

.job-application__links ul li {
  margin-left: 0;
}

//sticky footer
html {
  height: 100%;
}
body {
  height: 100%;
}
.page {
  min-height: 100% !important;
  position: relative !important;
}
.main-wrapper {
  padding-bottom: 100px !important;
}

.footer-container {
  position: absolute !important;
  bottom: 0 !important;
  width: 100% !important;
  height: 100px !important;
}
//sticky footer end
@media all and (max-width: 800px) { 
  .company-logo {
    display: block !important;
    margin-top: 34px !important;
    position: absolute !important;
  }

  .company-logo img {
    width: 90px !important;
  }
}

header {
  background: rgba(230, 230, 230, 0.5);
}

.field:not(.field--type-field-collection):not(.field--label-hidden), .field.field--type-term-level {
  width: 82.625% !important;
  padding-left: 28.375% !important;
}

.node-job.node--full .field:not(.field--type-field-collection):not(.field--label-hidden), .node-job.node--full .field.field--type-term-level {
  padding-left: 0px !important;
}

.page-search-resume .view-content {
  margin-bottom: 15px !important;
}

.tabledrag-toggle-weight-wrapper {
  display: none !important;
}

.page-search-resume .resume-teaser-container .resume-teaser-sidebar {
  margin-top: -50px !important;
}

.field-collection-item-field-resume-education .resume-time-period {
  margin-left: 0px !important;
}

.field-collection-item-field-resume-xp .resume-time-period {
  margin-left: 0px !important;
}

.main-wrapper {
  padding-bottom: 250px !important;
}

.node-job.node--full ul.links a {
  color: #2e2e2c;
  background-color: #c9dd19;
  border: 1px solid #a1b020;
  padding: 1em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  font-weight: bold;
  text-align: center;
  padding: .5em 1em;
  cursor: pointer;
  border-bottom: 5px solid #9faf14;
  display: inline;
}

.node-job.node--full ul.links a:hover, .node-job.node--full ul.links a:focus, .node-job.node--full ul.links a:active {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #d6ec17;
  border-color: #7d8722;
  text-decoration: none;
}

.node-job.node--full ul.links a:active {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
}

.node-job.node--full ul.links a:hover, .node-job.node--full ul.links a:focus, .node-job.node--full ul.links a:active {
  border-color: #2e2e2c;
}

.sidebar-first-toggle {
  top: 0.2em !important; 
}

a.fill-cv img:hover {
  background: url('../images/button_cv_mouseover.png');
}

.block--discoverajob-general-fill-cv {
  margin-top: -3px;
}

a.fill-cv {
  display: block;
  margin: 0 auto;
  width: 180px;
}

.page-search-job a.fill-cv {
  width: 70px;
  padding-right: 0px;
}
